.background-body {
    background-image: url("../img/bg.webp");
    background-attachment: fixed;
}

.background-block {
    background-color: white;
    margin: 20em 5em 4em 1em;
}

.img-responsive {
    width: 50%;
    height: auto;
    border: 2px solid white;
    border-radius: 100%;


}